<%- include('partials/header', { title: questionObj.title, extraStyle: '<link rel="stylesheet" href="../extrenal/css/prism.css">' }) %>
    <div class="content-column">
        <div class="question-meta-box object-block">
            <div>QuestionDetails</div>
            <div>
                <div class="object__prop-row">
                    <div class="object__prop-val">title</div>
                    <h1><%= questionObj.title %></h1>
                </div>
                <div class="flex-row">
                    <div class="object__prop-row">
                        <div class="object__prop-val">user</div>
                        <div><%= questionObj.user %></div>
                    </div>
                    <div class="object__prop-row">
                        <div class="object__prop-val">asked</div>
                        <div id="questionDate"><%= questionObj.dateAsked %></div>
                        <script>
                            questionDate.textContent = (new Date (questionDate.textContent)).toLocaleString()
                        </script>
                    </div>
                    <div class="object__prop-row">
                        <div class="object__prop-val">answers</div>
                        <div class="object__num"><%= questionObj.answers.length %></div>
                    </div>
                    <div class="object__prop-row">
                        <div class="object__prop-val">accepted</div>
                        <div class="object__keyword"><%= questionObj.accepted %></div>
                    </div>
                    <div class="object__prop-row">
                        <div class="object__prop-val">timesViewed</div>
                        <div class="object__num"><%= questionObj.views %></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="question-info object-block votable-block" data-doc-id="<%= questionObj._id.toString() %>">
            <div>QuestionInfo</div>
            <div>
                <div class="object__prop-row">
                    <div class="object__prop-val">usefulness</div>
                    <div class="object__num js-usefulness"><%= questionObj.usefulness %></div>
                </div>
                <div class="object__prop-row">
                    <div class="object__prop-val">problem</div>
                    <div class="string question-content">
                        <div id="questionOutput">
                            <%-questionObj.questionMarkup%>
                        </div>
                    </div>
                </div>
                <div class="object__prop-row">
                    <div class="object__prop-val">tags</div>
                    <div class="object__val-arr">
                        <% questionObj.tags.forEach(tag => { %>
                            <div><%= tag %></div>
                        <% }); %>
                    </div>
                </div>
                <div class="object__prop-row">
                    <div class="object__prop-val object__btn">upVote</div>
                    <div class=""></div>
                </div>
                <div class="object__prop-row">
                    <div class="object__prop-val object__btn">downVote</div>
                    <div class=""></div>
                </div>
            </div>
        </div>
        <form class="object-block condensed" style="overflow: hidden;" id="answerForm">
            <div>AnswerForm</div>
            <div>
                <div class="object__prop-row">
                    <div class="object__prop-val object__btn" id="toggleLengthBtn">expand</div>
                    <div class=""></div>
                </div>
                <div class="object__prop-row">
                    <div class="object__prop-val">questionContent</div>
                    <div class="string question-content">
                        <textarea class="question-input" required></textarea>
                    </div>
                </div>
                <div class="object__prop-row">
                    <button class="object__prop-val object__btn" id="submitAnswer">submit</button>
                    <div class=""></div>
                </div>
                <div class="object__prop-row">
                    <div class="object__prop-val object__btn" id="cancelSubmit">cancel</div>
                    <div class=""></div>
                </div>
            </div>
        </form>
        <div class="object-block arr-block">
            <div>Answers</div>
            <div>
                <% questionObj.answers.forEach(answerObj => { %>
                    <div class="object-block votable-block" data-doc-id="<%= answerObj._id.toString() %>">
                        <div class="anonymous"></div>
                        <div>
                            <div class="object__prop-row">
                                <div class="object__prop-val">user</div>
                                <div><%= answerObj.user %></div>
                            </div>
                            <div class="object__prop-row">
                                <div class="object__prop-val">usefulness</div>
                                <div class="object__num js-usefulness"><%= answerObj.usefulness  %></div>
                            </div>
                            <div class="object__prop-row">
                                <div class="object__prop-val">solution</div>
                                <div><%= answerObj.content %></div>
                            </div>
                            <div class="object__prop-row">
                                <div class="object__prop-val object__btn">upVote</div>
                                <div class=""></div>
                            </div>
                            <div class="object__prop-row">
                                <div class="object__prop-val object__btn">downVote</div>
                                <div class=""></div>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
    <script src="../js/answerForm.js"></script>
<%- include('partials/footer') %>