<%- include('partials/header', { title: questionObj.title, extraStyle: '<link rel="stylesheet" href="../extrenal/css/prism.css">' }) %>
    <div class="content-column">
        <div class="question-meta-box object-block">
            <div>QuestionDetails</div>
            <div>
                <div class="object__prop-row">
                    <div class="object__prop-val">title</div>
                    <h1><%= questionObj.title %></h1>
                </div>
                <div class="flex-row">
                    <div class="object__prop-row">
                        <div class="object__prop-val">user</div>
                        <div><%= questionObj.user %></div>
                    </div>
                    <div class="object__prop-row">
                        <div class="object__prop-val">asked</div>
                        <div id="questionDate"><%= questionObj.dateAsked %></div>
                        <script>
                            questionDate.textContent = (new Date (questionDate.textContent)).toLocaleString()
                        </script>
                    </div>
                    <div class="object__prop-row">
                        <div class="object__prop-val">answers</div>
                        <div class="object__num"><%= questionObj.answers.length %></div>
                    </div>
                    <div class="object__prop-row">
                        <div class="object__prop-val">accepted</div>
                        <div class="object__keyword" id="questionAcceptedVal"><%= questionObj.accepted %></div>
                    </div>
                    <div class="object__prop-row">
                        <div class="object__prop-val">timesViewed</div>
                        <div class="object__num"><%= questionObj.views %></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="question-info object-block votable-block" data-doc-id="<%= questionObj._id.toString() %>">
            <div>QuestionInfo</div>
            <div>
                <div class="object__prop-row">
                    <div class="object__prop-val">usefulness</div>
                    <div class="object__num js-usefulness"><%= questionObj.usefulness %></div>
                </div>
                <div class="object__prop-row">
                    <div class="object__prop-val">problem</div>
                    <div class="string question-content">
                        <div id="questionOutput" class="messageText"><%=questionObj.questionText%></div>
                    </div>
                </div>
                <div class="object__prop-row">
                    <div class="object__prop-val">tags</div>
                    <div class="object__val-arr">
                        <% questionObj.tags.forEach(tag => { %>
                            <div><%= tag %></div>
                        <% }); %>
                    </div>
                </div>
                <div class="object__prop-row">
                    <div class="object__prop-val object__btn">upVote</div>
                    <div class=""></div>
                </div>
                <div class="object__prop-row">
                    <div class="object__prop-val object__btn">downVote</div>
                    <div class=""></div>
                </div>
            </div>
        </div>
        <form class="object-block condensed" style="overflow: hidden;" id="answerForm">
            <div>AnswerForm</div>
            <div>
                <div class="object__prop-row">
                    <div class="object__prop-val object__btn" id="toggleLengthBtn">expand</div>
                    <div class=""></div>
                </div>
                <div class="object__prop-row">
                    <div class="object__prop-val">answerContent</div>
                    <div class="string question-content">
                        <textarea class="question-input" required></textarea>
                    </div>
                </div>
                <div class="flex-row">
                    <div class="object__prop-row">
                        <button class="object__prop-val object__btn" id="submitAnswer">submit</button>
                        <div class=""></div>
                    </div>
                    <div class="object__prop-row">
                        <div class="object__prop-val object__btn" id="cancelSubmit">cancel</div>
                        <div class=""></div>
                    </div>
                    <div class="object__prop-row">
                        <div class="object__prop-val object__btn" id="viewAnswerMarkup">view</div>
                        <div class=""></div>
                    </div>
                </div>
            </div>
            <div class="object-block answer-view pop-up">
                <div>answerLook</div>
                <div class="object__prop-row">
                    <div class="object__prop-val">answer</div>
                    <div class="string question-content">
                        <div class="markup-display" id="answerOutput">
                            No answer content has been provided.
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="object-block arr-block answer-list">
            <div>Answers</div>
            <div>
                <% questionObj.answers.forEach(answerObj => { %>
                    <div class="object-block votable-block <%= answerObj.accepted ? 'accepted-answer' : '' %>" data-doc-id="<%= answerObj._id.toString() %>">
                        <div class="anonymous"></div>
                        <div>
                            <div class="object__prop-row">
                                <div class="object__prop-val">user</div>
                                <div><%= answerObj.user %></div>
                            </div>
                            <div class="object__prop-row">
                                <div class="object__prop-val">usefulness</div>
                                <div class="object__num js-usefulness"><%= answerObj.usefulness  %></div>
                            </div>
                            <div class="object__prop-row">
                                <div class="object__prop-val">solution</div>
                                <div class="string question-content">
                                    <div class="markup-display messageText"><%= answerObj.answerText %></div>
                                </div>
                            </div>
                            <div class="object__prop-row">
                                <div class="object__prop-val object__btn">upVote</div>
                                <div class=""></div>
                            </div>
                            <div class="object__prop-row">
                                <div class="object__prop-val object__btn">downVote</div>
                                <div class=""></div>
                            </div>
                            <% if (locals.user && user._id.toString() === questionObj.userId.toString()) {%>
                                <div class="object__prop-row">
                                    <div class="object__prop-val object__btn accept-btn"><%= `${answerObj.accepted ? 'un' : ''}accept` %></div>
                                    <div class=""></div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>

    <script src="extrenal/js/prism.js"></script>
    <script src="js/createMsg.js"></script>
    <script src="js/answerForm.js"></script>
<%- include('partials/footer') %>